---
import TechCarousel from "./TechCarousel.astro";
---

<div class="section">
  <div class="container">
    <div class="columns is-vcentered is-variable is-8">
      <!-- Image Column -->
      <div class="column is-one-third">
        <figure class="image is-square">
          <img src="/profile.jpg" alt="Portrait" />
        </figure>
      </div>

      <!-- Text Column -->
      <div class="column">
        <h1 class="title is-2 mt-2">About Me</h1>
        <p class="subtitle is-5">
          As a Software-Developer, I enjoy creating powerful yet efficient
          software solutions. I am passionate about building innovative
          applications made to solve everyday problems. I opt for clean and
          maintainable code, that why I strongly believe in the power of
          open-source software. I am always on the lookout for new challenges
          and opportunities to learn as a developer. <p class="subtitle is-5">
            I have a Certificate of Higher Education in Multiplatform
            Applications Development, and I have experience in designing and
            implementing software solutions for real-world problems.
          </p>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="mt-4 mb-4">
  <TechCarousel />
</div>
