<div class="container">
  <div class="columns is-vcentered is-variable is-8">
    <!-- Image Column -->
    <div class="column is-one-third">
      <figure class="image is-square">
        <img src="/profile.jpg" alt="Portrait">
      </figure>
    </div>

    <!-- Text Column -->
    <div class="column">
      <h1 class="title is-2 mt-2">About Me</h1>
      <p class="subtitle is-5">
        As a Developer, I enjoy creating powerful and efficient software solutions. I am passionate about building innovative and user-friendly applications that solve real-world problems. I am a strong advocate for clean and maintainable code, and I believe in the power of open-source software. I am always looking for new challenges and opportunities to learn and grow as a developer.
      </p>
      <p class="subtitle is-5">
        I have a Certificate of Higher Education in Multiplatform Applications Development, and I have experience in designing and implementing efficient software solutions for real-world problems.
      </p>
      <div class="tags mt-4 mb-4">
        <span class="tag is-primary">JavaScript</span>
        <span class="tag is-link">Python</span>
        <span class="tag is-info">React</span>
        <span class="tag is-success">Spring</span>
        <span class="tag is-warning">Java</span>
      </div>
    </div>
  </div>
</div>

