<div class="container">
  <div class="columns is-vcentered">
    <div class="column">
      <h1 class="title">About Me</h1>
      <p class="subtitle">As a Developer, I enjoy creating powerful and efficient software solutions. I am passionate about building innovative and user-friendly applications that solve real-world problems. I am a strong advocate for clean and maintainable code, and I believe in the power of open-source software. I am always looking for new challenges and opportunities to learn and grow as a developer.</p>
      <p class="subtitle">I have a Certificate of Higher Education on Multiplatform Applications Development, and some experiencies in the field of Software Engineering.</p>
    </div>

  </div>
  
</div>

<style>
    .container {
        padding: 2rem 0;
    }
</style>