<div class="container">
  <div class="columns is-vcentered">
    <div class="column">
      <h1 class="title">Alessandro Santaniello</h1>
      <p class="subtitle">Full-stack Developer</p>
    </div>
  </div>
  <p class="is-size-5 mb-5"> I specialize in building modern applications with JavaScript and Java. My main focus is to build highly optimized experiences for my Users<p>
   <div class="buttons">
        <a href="#projects" class="button is-large is-light">
          View My Work
        </a>
        <a href="#contact" class="button is-large is-outlined is-light">
          Get In Touch
        </a>
      </div>
</div>
