---
const logos = [
  { name: "JavaScript", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" },
  { name: "Python", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" },
  { name: "React", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" },
  { name: "Spring", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" },
  { name: "Java", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" },
  { name: "Node.js", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" },
  { name: "Express.js", src: "https://expressjs.com/images/brand/logo-dark.svg" },
  { name: "MongoDB", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" },
  { name: "MySQL", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" },
  { name: "Git", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" },
  { name: "Docker", src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" },
  { name: "Astro", src: "https://astro.build/assets/press/astro-icon-light.svg" },
];
---


  <div class="container">
    <div class="carousel-wrapper">
      <div class="carousel-track">
        {logos.concat(logos).map((tech, i) => (
          <div class="carousel-item">
            <img src={tech.src} alt={tech.name} />
            <span>{tech.name}</span>
          </div>
        ))}
      </div>
    </div>
  </div>


<style>
.container {
  
}

.carousel-wrapper {
  overflow: hidden;
  position: relative;
  width: auto;
}

.carousel-track {
  display: flex;
  gap: 3rem;
  animation: scroll 5s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  text-align: center;
}

.carousel-item img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  transition: transform 4s;
}

.carousel-item span {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: white;
  font-weight: 500;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}
</style>
